<div class ="container">
  <p>ログインユーザーID: <%= current_user.id %></p>
  <div class="css-grid-user">
    <div class="grid-container">
      <p>Monthly Expense</p>
      <p><%= @hash %></p>
      <p><%= @fixed_expense.id %></p>
      <%= pie_chart(@hash)%>
    </div>
    <div class="grid-container">
      <p>Monthly Income</p>
    </div>
  </div>

  <div class="container balance">
    <p>Balance</p>
  </div>




</div>