<div class ="container">
  <div class="css-grid-user">
    <div class="grid-container">
      <p>Monthly Expense</p>
    </div>
    <div class="grid-container">
      <p>Monthly Income</p>
    </div>
  </div>

  <div class="container balance">
    <p>Balance</p>
  </div>




</div>