<div class="container">
  <div class="main center">
    <h1>Welcome to our financial analysis.</h1>
    <p>please Login/Signup now.</p>
  </div>

  <div class="center">
    <%= link_to "Log in", new_user_session_path, class:"btn btn-primary btn-login" %>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary btn-signup" %>
  </div>

  <div class="forget-password center">
    <p style="font-weight: bold;">forget password?</p>
    <p>Send email to <%= link_to "reset password", "#" %>.</p>
  </div>

</div>