<div class="container">
  <h1>支出登録</h1>
  <p>(固定費)</p>

  <div class="css-grid ">
    <div class="grid-container"><i class="fa-solid fa-house"></i>House</div>
    <div class="grid-container"><i class="fa-solid fa-car"></i>Car</div>
    <div class="grid-container"><i class="fa-regular fa-money-bill"></i>Tax</div>
    <div class="grid-container"><i class="fa-regular fa-person"></i>Personal</div>
    <div class="grid-container"><i class="fa-regular fa-earth-asia"></i>Communication</div>
    <div class="grid-container"><i class="fa-regular fa-bolt-lightning"></i>Infra</div>
  </div>

</div>