
/* header */

i {
  margin-right: 10px;
  font-size: 3rem;
}

.navbar-brand {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

/* flash */

.notice {
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* footer */

.footer {
  margin-top: 60px;
  border-top: solid 1px grey;
}



/* top */

.main {
  margin: 20px auto;
  background-color: lightsteelblue;
  border-radius: 1rem;
}

.center {
  text-align: center;
}

.main h1 {
  padding: 60px 0px; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main p {
  padding: 30px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.btn-signup {
  font-size: 2rem;
  background-color: #0bd;
}

.btn-login {
  font-size: 2rem;
  background-color: greenyellow;
  color: grey;
}

.forget-password {
  margin-top: 40px;
}

.top-flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px gray;
}

.top-flex-item {
  background: #0bd;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  color: white;
}

/* devise */

.notice {
  background: antiquewhite;
  border-radius: 5px;
}

.alert {
  background: rgb(172, 83, 138);
  border-radius: 5px;
}


/* fixed_expense */

.expense {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-container {
  background: #0bd;
}


.css-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 3px;
  margin-bottom: 20px;
  .grid-container {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid gray;
  }
}

.css-grid-month {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 5px;
  margin-bottom: 60px;
  .grid-container {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid gray;

    p {
      font-size: 4rem;
      margin-top: 60px;
    }
  }
}

.btn-submit_expense {
  font-size: 3rem;
  color: white;
  background-color: #0bd;
  border: 2px solid darkblue;
}