<div class="container">
  <div class="top-flex">
    <div class="top-flex-item">
      <%= link_to "固定費登録", fixed_expense_index_url, class: "top-flex-item" %>
    </div>

    <div class="top-flex-item">
      <%= link_to "変動費登録", variable_expense_index_url, class: "top-flex-item" %>
    </div>

    <div class="top-flex-item">
      <%= link_to "収入登録", "#", class: "top-flex-item" %>
    </div>
    
    <div class="top-flex-item">
      <%= link_to "投資登録", "#", class: "top-flex-item" %>
    </div>
  </div>
</div>